.App-header {
  background-color: #e3f3fd;
  font-size: 22px;
  padding: 1%;
  margin-bottom: 2%;
}

.App-footer {
  display: flex;
  background-color: #e3f3fd;
  font-size: 22px;
  padding: 1%;
  justify-content: center;
  margin-top: 2%;
}

.grid-container {
  display: grid;
  grid-gap: 20px;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
